.layout {
  height: 100vh;
}

.ant-layout-content {
  min-height: auto;
}

.search {
  margin: 0 auto;
  padding: 10px;
  max-width: 90%;
}

.login-form-page {
  height: 50vh;
  display: flex;
}

.login-form-page form {
  max-width: 400px;
  margin: auto;
}

.registration-form-page form {
  max-width: 600px;
  margin: auto;
}

.actions-panel {
  margin-bottom: 30px;
}

.actions-panel button {
  margin-right: 20px;
}

.annoucement-list {
  display: flex;
}

.annoucement-list .ant-card-bordered {
  margin: 0 10px;
}

.details-page {
  display: flex;
  flex-wrap: wrap;
}

.details-page h1 {
  order: 0;
  width: 100%
}

.details-page .description-section {
  order: 1;
  width: 60%;
  text-align: justify;
}

.details-page .details-buttons-section {
  order: 2;
  width: 40%;
}

.details-page .details-buttons-section button {
  display: block;
  margin: 20px auto;
  width: 220px;
  height: 40px;
}

.ant-spin.ant-spin-spinning {
  z-index: 2;
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
}

.layout.loading.ant-layout.ant-layout-has-sider {
  z-index: 0;
  opacity: 0.25;
}