.layout {
  height: 100vh;
}

.ant-layout-content {
  min-height: auto;
}

.search {
  margin: 0 auto;
  padding: 10px;
  max-width: 85%;
}

.login-form-page {
  height: 50vh;
  display: flex;
}

.login-form-page form {
  max-width: 400px;
  margin: auto;
}

.registration-form-page form {
  max-width: 600px;
  margin: auto;
}

.actions-panel {
  margin-bottom: 30px;
}

.actions-panel button {
  margin-right: 20px;
}

.annoucement-list {
  display: flex;
}

.annoucement-list .ant-card-bordered {
  margin: 0 10px;
}

.details-page {
  display: flex;
  flex-wrap: wrap;
}

.details-page h1 {
  order: 0;
  width: 100%
}

.details-page .description-section {
  order: 1;
  width: 60%;
  text-align: justify;
}

.details-page .details-buttons-section {
  order: 2;
  width: 40%;
}

.details-page .details-buttons-section button {
  display: block;
  margin: 20px auto;
  width: 220px;
  height: 40px;
}

.ant-spin.ant-spin-spinning {
  z-index: 1002;
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
}

.layout.loading.ant-layout.ant-layout-has-sider {
  z-index: 0;
  opacity: 0.25;
}

.app-header {
  position: relative;
}

.app-header .avatar {
  position: absolute;
  top: 1px;
  right: 10px;
  text-align: center;
  width: 100px;
}

.app-header .avatar .avatar-button {
 border-radius: 50%;
 width: 40px;
}

.app-header .avatar .options {
  display: flex;
  flex-wrap: wrap;
  width: 100px;
  border: solid 1px lightgray;
  padding: 4px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0px 3px 14px 0px #888888;
}

.app-header .avatar .options button {
  width: 80px;
  margin: auto;
  border: none;
}

.profile .user-icon {
  font-size: 100px;
  border: 4px solid lightgray;
  border-radius: 50%;
  padding: 30px;
}

.profile .user-details {
  width: 100%;
  text-align: center;
  margin: 100px 0 20px;
}

.profile .buttons {
  width: 100%;
  text-align: center;
}

.profile .buttons button:first-child {
  margin-right: 20px;
}

.ant-form-item-label {
  width: 126px;
}

.ant-modal-body .ant-form-item-label {
  text-align: left;
}

.ant-form-item-control-wrapper {
  margin-left: 0px;
}

.ant-layout-sider .anticon-home {
  font-size: 30px;
  margin-top: 10px;
}

.ant-layout-sider li.home.ant-menu-item-selected {
  background: none;
}

.admin-panel .ant-card {
  margin-bottom: 20px;
}

.add-button {
  margin-bottom: 30px;
}

.ant-layout-sider-children {
  position: relative;
}

.ant-layout-sider-children .admin-button {
  position: absolute;
  bottom: 20px;
  left: 20px;
}